#form{
    border:1px, solid rgb(175, 63, 63);
    border-radius: 5px;
    width: 30%;
    margin: 3rem auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    padding :20px;
    text-align:center;
    color: rgb(181, 40, 40);
    background-color: rgb(236, 148, 148);
}

#form input{
    width:200px;
    height:20px;
    background-color:white;
    
}
select{
    height: 30px;
    background-color: brown;
    color: white;
}
h2{
    color: brown;
    font-size: 800;

}
#submit{
    width:10rem;
    height:2rem;
    background-color: rgb(146, 50, 50);
    border:none;
    border-radius: 5px;
}
#submit:hover{
    background-color: rgb(199, 71, 71);
}

